* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-image: url(../images/img-bg-01.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;


    &__inner {
        display: flex;
        flex-direction: column; 
        height: 100vh; 
    }

    &__inner-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;

    }

    &__inner-bottom {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text-block {
        text-transform: uppercase;
    }

    &__title {
        font-size: 80px;
    }

    &__description {
        font-size: 18px;
    }
}

.header__nav {
    flex: 1 1 auto;

}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;

    &__item {
        padding: 10px 10px;
    }

    &__link {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;

    }
}

//NAVIGATION
.nav-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    // ACTION
    &:hover {
        background-color: #6880e8;
    }
    
    // @include tablet-screen() {
    //     display: flex;
    // }
}

.hamburger-icon {
    fill: #ffffff;
}

// NAV-CHECKBOX and :checked in Navigation
.nav-checkbox {
    position: absolute;
    top: -999999px;
    left: -999999px;
    visibility: hidden;
    opacity: 0;
    
    &:checked ~ .nav {
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(0, -100%);
        background-color: #6880e8;
        max-width: 200px;
    }
    
    &:checked ~ .nav-toggler {
        background-color: #6880e8;
    }
}

.logo {
    width: 241px; 
    height: 54px;
    // fill-rule="evenodd"  fill="rgb(255, 255, 255)"
    fill: white;
}


.social {
    display: flex;
    list-style-type: none;

    &__item {
        margin-left: 20px;
    }

    &__border {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #ffffff;
    }
    
    &__icon {
        height: 16px;
        width: 14px;
        fill: #ffffff;
    }

    &__link {
        font-size: 0;
    }
}


.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
}
.icon-arrow {
    fill: #ffffff;
    height: 20px;
    width: 20px;
}

// MAIN

.main__section--backgroud {
    background-image: url(../images/img-bg-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}


//SECTION
.section {

    &__item {
        position: relative;
        margin-bottom: 140px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
    
    }

    &__inner--reverse {
        flex-direction: row-reverse;
    }
    
    &__title {
        text-align: center;
        font-size: 44px;
        text-transform: uppercase;
        margin-bottom: 100px;
       
        // added horizontal line before title
        &::before {
            content: "";
            display:block;
            max-width: 100px;
            height: 1px;
            margin: 100px auto 42px auto;
            background-color: #000000;
        }
    }

    &__content-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 470px;
        padding: 5px;
    }

    
    &__picture-block {
        display: block;
        max-width: 630px;
    
        &__image {
            width: 100%;
        }
    
    }

    &__button {
        max-width: 190px;
    }
    
// modifier posititon backgroun image
    &__picture-block--position_left {
        position: absolute;
        z-index: -1;
    }
    
    &__picture-block--position_right {
        position: absolute;
        right: 0;
        z-index: -1;
    }

}


//Section text-block
.text-block {

    &__subtitle {
        font-size: 22px;
        text-transform: uppercase;
    }

    &__title {
        font-size: 44px;
        text-transform: uppercase;
        margin-bottom: 42px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 42px;
    }
}


// BUTTON (property primary)
.btn {
    min-width: 224px;
    padding: 20px 5px;
    background-color: #ffffff;
    font-family: 'Aleo', serif;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #000000;
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
    }
}




