* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-image: url(../images/img-bg-01.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;


    &__inner {
        display: flex;
        flex-direction: column; 
        height: 100vh; 
    }

    &__inner-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;

    }

    &__inner-bottom {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text-block {
        text-transform: uppercase;
    }

    &__title {
        font-size: 80px;
    }

    &__description {
        font-size: 18px;
    }
}

.header__nav {
    flex: 1 1 auto;

}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;

    &__item {
        padding: 10px 10px;
    }

    &__link {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;

    }
}

//NAVIGATION
.nav-toggler {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    // ACTION
    &:hover {
        background-color: #6880e8;
    }
    
    // @include tablet-screen() {
    //     display: flex;
    // }
}

.hamburger-icon {
    fill: #ffffff;
}

// NAV-CHECKBOX and :checked in Navigation
.nav-checkbox {
    position: absolute;
    top: -999999px;
    left: -999999px;
    visibility: hidden;
    opacity: 0;
    
    &:checked ~ .nav {
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(0, -100%);
        background-color: #6880e8;
        max-width: 200px;
    }
    
    &:checked ~ .nav-toggler {
        background-color: #6880e8;
    }
}

.logo {
    width: 241px; 
    height: 54px;
    // fill-rule="evenodd"  fill="rgb(255, 255, 255)"
    fill: white;
}


.social {
    display: flex;
    list-style-type: none;

    &__item {
        margin-left: 20px;
    }

    &__border {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #ffffff;
    }
    
    &__icon {
        height: 16px;
        width: 14px;
        fill: #ffffff;
    }

    &__link {
        font-size: 0;
    }
}


.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
}
.icon-arrow {
    fill: #ffffff;
    height: 20px;
    width: 20px;
}

// MAIN

.main__section--backgroud {
    background-image: url(../images/img-bg-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}


.section__item {
    position: relative;
    border: 1px solid red;
    margin-bottom: 140px;
}

.section__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;

}

.section__title {
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;;
}

.section__content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 470px;
}

.section__picture-block {
    max-width: 630px;
    float: left;

    &__image {
        width: 100%;
    }

}

.section__picture-block--position_left {
    position: absolute;
    z-index: -1;
}

.section__picture-block--position_right {
    position: absolute;
    right: 0;
    z-index: -1;

}




